
    
<mat-toolbar color="primary" class="mat-elevation-z4">
  ng-docs
  <span style="flex: 1"></span>
  <a class="copyright" href="https://felixlemke.dev/" target="_blank">&#169; 2020 Felix Lemke</a>
  <a href="https://github.com/ngfelixl/ng-docs/" target="_blank"><button mat-icon-button><img src="./assets/64x64/github.png"></button></a>
  <a href="https://twitter.com/ngfelixl" target="_blank"><button mat-icon-button><img src="./assets/64x64/twitter.png"></button></a>
  <a href="https://facebook.com/ngfelixlemke" target="_blank"><button mat-icon-button><img src="./assets/64x64/fb.png"></button></a>
  <a href="https://instagram.com/ngfelixl" target="_blank"><button mat-icon-button><img src="./assets/64x64/instagram.png"></button></a>
</mat-toolbar>
<main>
  <app-documentation></app-documentation>
</main>
